<%= form_for [@article, Comment.new] do |f| %>
	
	<div class = "fomr-line">
	 <%= f.text_field :content, placeholder: "Comment...", class: 'form-controller', required: true %>
	 <%= f.submit "Comment", class: "btn btn-primary" %>
	</div>

<% end %>