<div class="container">
	<h1>Edit Comment</h1>
		<%= form_for [@article, @comment] do |f| %>
		<%= f.text_field :content, label: "Comment", size: 100x10 %>
		<%= f.button :submit, class: "btn btn-success" %>
		<% end %>
</div>